body {
  background-color: rgb(199, 118, 118);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  font-family: sans-serif;
  flex-direction: column;
} 
  
h1{
    color: #08803a;
    font-size: 80px;
    font-family: fantasy;
    font-weight: 100;
    transition: all 0.6s ease-in-out;
    
}
h1:hover{
    transform: scale(1.1);

}
.form-box {
  background-color: rgb(179, 219, 255);
  border-radius: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 60px;
  width: 320px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h2 {
  color: #000000;
  position: relative;
}
input {
  width: 90%;
  margin-top: 10px;
  padding: 10px;
  font-size: 14px;
  border-radius: 40px;
  border: 1px solid #ccc;
  text-align: center;
  transition: all 0.6s ease-in-out;
}

input:hover {
  transform: scale(1.1);
}

button {
  width: 50%;
  margin-top: 10px;
  margin-left: 25%;
  padding: 10px;
  font-size: 14px;
  border-radius: 4px;
  border: 1px solid #ccc;
  border-radius: 20px;
  background: #007bff;
  color: white;
  cursor: pointer;
  border: none;
  transition: all 0.6s ease-in-out;
}

button:hover {
  background: #ff7373;
  transform: scale(1.1);
}

a {
  color: #4c1e5e;
  display: block;
  margin-top: 10px;
  text-align: center;
  text-decoration: none;
  transition: all 0.6s ease-in-out;
}

a:hover{
    transform: scale(1.1);
}