body {
  background-color: rgb(35, 31, 31);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;
  font-family: sans-serif;
  flex-direction: column;
  padding: 20px;
  margin: 0;
  box-sizing: border-box;
}

#notes {
  background: white;
  margin: 20px auto;
  padding: 20px;
  border-radius: 10px;
  width: 90%;
  max-width: 600px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h1{
    color: #5cdd50;
    font-size: 80px;
    font-family: fantasy;
    font-weight: 100;
    font-variant: inherit;
    transition: all 0.6s ease-in-out;
}
h1:hover{
    transform: scale(1.1);

}

.innernote {
  background: rgb(147, 206, 255);
  
  margin: 10px 0;
  width: 97%;
  border-radius: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  transition: transform 0.6s ease, box-shadow 0.3s ease;
}
.innernote:hover{
  transform: scale(1.9);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}
button {
  width: 50%;
  margin-top: 10px;
  margin-left: 25%;
  padding: 10px;
  font-size: 14px;
  border-radius: 4px;
  border: 1px solid #ccc;
  border-radius: 20px;
  background: #007bff;
  color: white;
  cursor: pointer;
  border: none;
  transition: all 0.6s ease-in-out;
}

button:hover {
  background: #000000;
  transform: scale(1.1);
}

.log{
  width: 10%;
  margin-top: 10px;
  margin-left: 25%;
  padding: 10px;
  font-size: 14px;
  border-radius: 4px;
  border: 2px solid #ffffff;
  border-radius: 20px;
  background: #dd5151;
  color: white;
  cursor: pointer;
  border: none;
  transition: all 0.6s ease-in-out;
  position: absolute;
  align-items: flex-end;
}

h2{
  color: #303f42;
  font-size: 80px;
}
input {
  width: 90%;
  margin-top: 10px;
  padding: 10px;
  font-size: 14px;
  border-radius: 40px;
  border: 1px solid #ccc;
  text-align: center;
  transition: all 0.6s ease-in-out;
}

input:hover {
  transform: scale(1.1);
}

textarea{
   width: 90%;
  margin-top: 10px;
  padding: 10px;
  font-size: 14px;
  border-radius: 40px;
  border: 1px solid #ccc;
  text-align: center;
  transition: all 0.6s ease-in-out;
}

textarea:hover {
  transform: scale(1.1);
}

button.del{
  width: 10%;
  background: #dd5151;
  margin: 20px;
  margin-left: auto
}